<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{home.name}}
      </a>
    </div>
  </div>
</nav>

<div class="d2synth"
     synth="home.synth"
     input-handler>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <div class="oscillator-controls module panel panel-info">
          <div class="panel-heading">Oscillators</div>
          <div class="panel-body">
            <div class="row">
              <div class="oscillator1-controls col-md-12">
                <h4>Oscillator 1</h4>
                <div class="step form-group">
                  <label>Step</label>
                  <input class="form-control" type="range"disabled data-width="70" data-height="70" data-angleOffset="270" data-angleRange="180"/>
                </div>
                <div class="fine form-group">
                  <label>Fine</label>
                  <input class="form-control" type="range" disabled data-width="70" data-height="70" data-angleOffset="270" data-angleRange="180"/>
                </div>
                <div class="type form-group">
                  <label>Type</label>
                  <select
                    ng-model="home.synthModules.oscillators.settings.osc1.type"
                    name="osc1Type"
                    ng-options="type for type in home.oscillatorTypes"
                    class="form-control">
                  </select>
                </div>
                <div class="mix form-group">
                  <label>Mix</label>
                  <input class="form-control" type="range" disabled data-width="70" data-height="70" data-angleOffset="270" data-angleRange="180"/>
                </div>
              </div>
              <div class="oscillator2-controls col-md-12">
                <h4>Oscillator 2</h4>
                <div class="step form-group">
                  <label>Step</label>
                  <input class="form-control" type="range" disabled data-width="70" data-height="70" data-angleOffset="270" data-angleRange="180"/>
                </div>
                <div class="fine form-group">
                  <label>Fine</label>
                  <input class="form-control" type="range" disabled data-width="70" data-height="70" data-angleOffset="270" data-angleRange="180"/>
                </div>
                <div class="type form-group">
                  <label>Type</label>
                  <select
                    ng-model="home.synthModules.oscillators.settings.osc2.type"
                    name="osc1Type"
                    ng-options="type for type in home.oscillatorTypes"
                    class="form-control">
                  </select>
                </div>
                <div class="noise form-group">
                  <label>Noise</label>
                  <input class="form-control" type="range" disabled data-width="70" data-height="70" data-angleOffset="270" data-angleRange="180"/>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="adsr-controls panel panel-default">
          <div class="panel-heading">ADSR</div>
          <div class="panel-body">
            TODO
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="lfo-controls panel panel-default">
          <div class="panel-heading">LFO</div>
          <div class="panel-body">
            TODO
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="filter-controls panel panel-default">
          <div class="panel-heading">Filter</div>
          <div class="panel-body">
            TODO
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feedback-controls module panel panel-default" data-module="feedbackDelay">
          <div class="panel-heading">Feedback Delay  <i class="fa fa-power-off pull-right btn power"></i></div>
          <div class="panel-body">
            TODO
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="reverb-controls module panel panel-default" data-module="reverb">
          <div class="panel-heading">Reverb <i class="fa fa-power-off pull-right btn power"></i></div>
          <div class="panel-body">
            TODO
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="out-controls module panel panel-info">
          <div class="panel-heading">Out</div>
          <div class="panel-body">
            0.5
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="keyboard-controls module panel panel-info">
          <div class="panel-heading">Keyboard</div>
          <div class="panel-body">
            <button type="button" name="button" data-note="c4">c4</button>
            <button type="button" name="button" data-note="d4">d4</button>
            <button type="button" name="button" data-note="e4">e4</button>
            <button type="button" name="button" data-note="f4">f4</button>
            <button type="button" name="button" data-note="g4">g4</button>
            <button type="button" name="button" data-note="a4">a4</button>
            <button type="button" name="button" data-note="b4">b4</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
